.background-blur {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
}

.mobile-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  overflow: scroll;
}

.main-categories {
  height: 40px;
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-evenly;
  margin: 20px 0px;
}

.main-categories p {
  position: relative;
  width: 33%;
  text-align: center;
}

.secondary-categories li {
  list-style: none;
}

.secondary-categories ul {
  margin-block-start: 0px;
  padding: 0px;
}

.secondary-categories p,
.third-categories p {
  height: 40px;
  margin: 30px 0px;
  text-align: center;
  border-bottom: 2px solid rgb(238, 238, 240);
  text-decoration: none;
  color: black;
}

#link {
  text-decoration: none;
}

button {
  border-radius: 5px;
  font-size: 15px;
  line-height: 44px;
  flex: 1 1 0%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: bolder;
  margin: 20px auto;
  width: 80%;
}

.third-categories h3 {
  height: 40px;
  margin: 30px 0px;
  padding: 0 30px;
  border-bottom: 2px solid rgb(238, 238, 240);
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: 1024px) {
  .background-blur {
    display: none;
    overflow: hidden;
  }

  .mobile-header {
    display: none;
  }
}

@media (max-width: 700px) {
  .mobile-header {
    width: 70%;
  }

  .background-blur {
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .mobile-header {
    width: 90%;
  }

  .background-blur {
    overflow: hidden;
  }
}

/* LANGUAGES */

.lang-picker,
.login-background {
  background-color: rgba(0, 0, 0, 0.61);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.langs {
  background-color: white;
  color: black;
  padding: 15vh;
  text-align: center;
}

.langs p {
  padding: 20px;
  font-size: larger;
}

.langs a {
  text-decoration: none;
  color: black;
}

.langs a:hover {
  text-decoration: underline;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box input {
  margin: 20px;
}

.submit {
  background-color: rgb(34, 34, 34);
  border-bottom: 1px solid rgb(153, 153, 153);
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 15px 0px inset;
  padding: 10px 5%;
  color: white;
  font-size: larger;
}

.login-box {
  z-index: 99999999999;
  background-color: white;
  color: black;
  padding: 15vh;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
}

.incorrect-password p {
  color: red;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#link-third {
  text-decoration: none;
  color: black;
}
