@media (min-width: 1024px) {
  .product-container {
    max-width: 1024px;
    margin: auto;
    margin-top: 140px;
  }
}

@media (max-width: 1024px) {
  .product-container {
    max-width: 1024px;
    margin: auto;
    margin-top: 60px;
  }
}

.product-content {
  width: 100%;
}

.product-history {
  display: flex;
  flex-direction: row;
}

.product-history a,
.product-history p {
  margin: 0 5px;
  font-size: small;
}

.product-main {
  display: flex;
  flex-direction: row;
  margin: 10px 20px 20px 20px;
}

.product-main img {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-info {
  width: 100%;
}

.brand,
.name,
.product-categories {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.product-categories {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: smaller;
}

.brand {
  letter-spacing: 2px;
}

.price-text {
  text-transform: uppercase;
  margin-top: 20px;
}

.price {
  letter-spacing: 2px;
  margin-top: 5px;
  font-size: larger;
}

.additional-info {
  letter-spacing: 1px;
  margin-top: 5px;
  font-size: small;
}

.options {
  margin-top: 10px;
}

.option-btn {
  margin: 10px 2px 0 2px;
  text-decoration: none;
  list-style: none;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  padding: 15px 15px;
  text-decoration: none;
}

.option-btn:hover {
  background-color: #e6e6e6;
}
.option-btn:active {
  position: relative;
  top: 1px;
}

.sizepicker {
  padding: 20px;
  margin-top: 15px;
  width: 80%;
}

@media (max-width: 1024px) {
  .product-container {
    display: flex;
    flex-direction: column;
  }

  .product-main {
    display: flex;
    flex-direction: column;
  }

  .img-container {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }

  .product-info {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
  }
}

.img-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.img-container .secondary-pics {
  width: 15vh;
  display: flex;
  flex-shrink: 3;
  flex-direction: column;
}

.img-container .secondary-pics img {
  width: 8vh;
  height: auto;
  margin-top: 2vh;
  cursor: pointer;
}

.img-container figure {
  overflow: hidden;
  margin: 0 10px;
}

.img-container img {
  height: 50vh;
  display: block;
  cursor: zoom-in;
}

.img-container .zoom-in img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.img-container .zoom-in:hover img {
  transform: scale(1.5);
}

/* BIGPIC */

.bigpic-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.918);
  z-index: 999;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.bigpic-pic {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bigpic-pic img {
  margin: auto;
  height: 75vh;
  width: auto;
  z-index: 9999;
  cursor: pointer;
}

.bigpic-gallery {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bigpic-gallery img {
  height: 15vh;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 9999;
  cursor: pointer;
}

.bigpic-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#hisotry-link {
  text-decoration: none;
  color: black;
}

#history-link:hover {
  text-decoration: underline;
}
